<% if user_signed_in? %>

  <% if UserRumour.where(user_id: current_user.id, rumour_id: @user_rumour.rumour_id).length < 1 %>

    <div class="user_rumour_btn_container">
    <%= form_for @user_rumour, remote: true do |f| %>

      <div class="field">
        <%= f.hidden_field :rumour_id, value: @rumour.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :credible, value: true %>
      </div>
      <div class="actions">
        <div class='form-group'>
        <%= f.submit "Credible", class: "btn btn-primary btn-lg btn-approved" %>
        </div>

      </div>
    </div>
    <% end %>

    <div class="user_rumour_btn_container">
    <%= form_for @user_rumour, remote: true do |f| %>

      <div class="field">
        <%= f.hidden_field :rumour_id, value: @rumour.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :credible, value: false %>
      </div>
      <div class="actions">
        <%= f.submit "Not Credible", class: "btn btn-primary btn-lg btn-disapproved" %>

      </div>
    </div>
    <% end %>
  <% end %>
<% end %>