<h1>Listing rumours</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rumours.each do |rumour| %>
      <tr>
        <td><%= rumour.description %></td>
        <td><%= link_to 'Show', rumour %></td>
        <td><%= link_to 'Edit', edit_rumour_path(rumour) %></td>
        <td><%= link_to 'Destroy', rumour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>