/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
}
body {
  padding-top: 50px;
  font-family: "Lato", "Helvetica Neue", Arial;
  width: 100%;
}

.row {
  display: table-row;
  margin:0;
}
.rumour_container {
  margin: 10px 20px 10px 20px;

  h5 {
    color: #cccccc;
  }

  p {
    font-size: 14pt;
  }

  input[type="submit"] {
    width: 100px;
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
  }

  .column {
    vertical-align: top;
    display: table-cell;


    #span_approve {
      font-size: 35pt;
      padding: 5px 5px 5px 5px;
    }

    #span_disapprove {
      font-size: 35pt;

    }
  }

  .col40 {
    width: 40%
  }

  .col60 {
    width: 60%
  }




  .approval_box {
    font-size: 12pt;
  }
}/*

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.8);
  }*/



.mapitem, .guidelocations {
  display: none;
}



.container_bg {

  margin: 0 auto;
  padding: 0 0 0 0;

}

.container {

  margin: 0 auto;
  padding: 0 0 0 0;
  z-index: 1;
  /* sass command */
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }

}

.leaflet-popup-content p {
  margin-bottom: 0px;
}

.map_container {
  background-color: rgba(255,255,255, 0.8);

  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  margin: 10px 10px 10px 10px;
}


.map_container {

  margin: 10px 10px 10px 10px;

  text-align: center;
}


input, textarea {
  -webkit-box-sizing: border-box;

  margin: 5px 0px 5px 0px;
  padding: 0px 2px 0px 2px;
  border-style: solid;
  border-color: rgb(150,150,150);
  font-size: 12pt;
  outline: none;
  background-color: #f2f2f2;
  border-width: 1px;

}

.signup_form_box input[type="submit"] {
  width: 130px;
  height: 30px;
}

button, input[type="submit"] {
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(#5d9aff, #5d9aff 38%, #5891f0);
  color: rgb(255,255,255);
  border: 1px solid rgba(45, 102, 195, 1);
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 2px rgba(255, 255, 255, 0.2);
  font-size: 12px;
  font-family: arial,sans-serif;
}



button:hover, input:hover[type="submit"] {
  background-color: #2d66c3;
  background-image: -webkit-linear-gradient(#5d9aff, #5d9aff 100%, #5891f0);

}

select {
  height: 28px;
  margin: 5px 5px 5px 0px;
  padding: 1px 1px 1px 0px;
  border-style: solid;
  border-color: rgb(150,150,150);
  border-width: 1px;
  font-size: 12pt;
  background-color: #f2f2f2;

}

.signup_map {
  width: 400px;

}


.signup_form {
  width: 400px;
}



.login_box input[type="email"], .login_box input[type="password"] {
  width: 260;
  -webkit-box-sizing: border-box;
  height: 40px;

  margin: 10px 0px 10px 0px;
  padding: 10px 10px 10px 10px;
  border-style: solid;
  border-color: rgb(150,150,150);
  font-size: 15pt;
  background-color: #f2f2f2;
  border-width: 1px;

}



h1 {
  font-weight: 300;
  font-size: 50px;
  text-align: center;
  padding-bottom: 10px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.nav.navbar-nav {
  vertical-align: middle;
  margin: 0 auto;
}

.nav.navbar-right {
  margin: 0 auto;
}

td {
  margin: 2px 2px 2px 2px;
  padding: 2px 2px 2px 2px;
}

li {

  vertical-align: middle;
  margin: 0 auto;
}

.noty-text {
  font-size: 18px;
  font-weight: normal;
}



.body {
  display: table-cell;
}


header .name {
  font-weight: bold;

}

header .title {

}
.leaflet-popup-content span {
  font-size: 12px;
  font-weight: bold;
}

.leaflet-popup-content h3 {
  font-size: 16pt;
  margin-bottom: 0;
}

.leaflet-popup-content p {
  font-size: 12pt;
  margin-top: 2px;
  margin-bottom: 0px;
}

.leaflet-popup-content img {
  margin: 1px 1px 1px 1px;
}


#credible_box {
  display: none;
}